---
layout: default
title: Home
---

<main class="full-hero hero-home">
  <h1 class="tagline">Helping build a brighter future for the<br> Afghan Turkic community in the UK</h1>
</main>

<article>
  <section class="mission">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="mission-wrapper">
            <h2>HELP US BUILD A LEGACY</h2>
            <h4>Our mission is to serve our communities</h4>
            <picture>
              <source srcset="{{ site.baseurl }}/assets/images/inspiration.webp" type="image/webp">
              <source srcset="{{ site.baseurl }}/assets/images/inspiration.jpg" type="image/jpg">
              <img src="{{ site.baseurl }}/assets/images/inspiration.jpg" alt="Join Us" class="inspiration">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="objectives">
    <div class="container">
      <div class="row">
        {% for objective in site.objectives %}
        <div class="col-12 col-md-6">
          <div class="objective-wrapper">
            <img src="{{ objective.image_path }}" alt="Objective" class="objective">
            <h3>{{ objective.heading }}</h3>
            <p>{{ objective.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="events">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">PREVIOUS EVENTS</h2>
          <div class="card-columns">
            {% assign previous_events = site.previous_events | sort: 'date' %}
            {% for event in previous_events %}
            <div class="card border-secondary mb-4">
              <div class="card-header">{{ event.title }}</div>
              <div class="card-body text-secondary">
                <a href="{{ event.image_path }}" download>
                  <img src="{{ event.image_path }}" alt="Previous Event" class="event-image">
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="section-title">UPCOMING EVENTS</h2>
          {% assign size_of_array = site.upcoming_events | size %}
          {% if size_of_array == 0 %}
          <h3>Stay tuned for our upcoming events...</h3>
          {% else %}
          <div class="card-columns">
            {% assign upcoming_events = site.upcoming_events | sort: 'date' %}
            {% for event in upcoming_events %}
            <div class="card border-secondary mb-4">
              <div class="card-header">{{ event.title }}</div>
              <div class="card-body text-secondary">
                <a href="{{ event.image_path }}" download>
                  <img src="{{ event.image_path }}" alt="Upcoming Event" class="event-image">
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section class="statements">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">STATEMENTS</h2>
        </div>
        {% for statement in site.statements %}
          <div class="col-12 col-md-6">
            <div class="statements-wrapper">
              <h3 class="text-center">{{ statement.heading }}</h3>
              <p class="text-center">{{ statement.description }}</p>
                <iframe
                  class="pdf"
                  src="{{ statement.pdf_js_url }}"
                  style="border: none;">
                </iframe>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</article>

<script src="assets/javascripts/pdf_js/build/pdf.js"></script>
<script src="assets/javascripts/pdf_js/build/pdf.worker.js"></script>