---
layout: default
title: Home
---

<main class="full-hero hero-home">
  <h1 class="tagline">Helping build a brighter future for the<br> Afghan Turkic community in the UK</h1>
</main>

<article>
  <h2 class="section-title">Past events</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-columns">
          {% for image in site.static_files %}
            {% if image.path contains 'images/events' %}
              <div class="card border-secondary mb-4">
                <div class="card-header">Header</div>
                  <div class="card-body text-secondary">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" class="event-image" />
                  </div>
                </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</article>
