<footer>
  <div class="footer-details-wrapper">
    <a href="#" class="footer-logo">
      <img src="/assets/images/ata_logo.jpg" alt="ATA UK">
    </a>
    <a href="tel:+441322404806" class="telephone">01322 404 806</a>
    <a href="mailto:info@ata-uk.com">info@ata-uk.com</a>
    <address>
      <strong>Main Office</strong><br>
      116 Hythe Avenue<br>
      Bexleyheath<br>
      Kent<br>
      DA7 5NJ  
    </address>
  </div>
  <ul class="footer-nav">
    <li>
      <a href="#">Policy &amp; Practice</a>
    </li>
    <li>
      <a href="#">About us</a>
    </li>
    <li>
      <a href="#">History</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="#">Donate</a>
    </li>
  </ul>  
</footer>