<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="address-wrapper">
          <a href="#" class="footer-logo">
            <img src="/assets/images/ata_logo.jpg" alt="ATA UK">
          </a>
          <address>
            <strong>Main Office</strong><br>
            116 Hythe Avenue<br>
            Bexleyheath<br>
            Kent<br>
            DA7 5NJ
          </address>
          <a href="tel:+441322404806">{{ site.tel_no }}</a>
          <a href="mailto:info@ata-uk.com">{{ site.generic_email_address }}</a>
        </div>
      </div>
      <div class="col-md-4 d-none d-sm-block">
        <div class="footer-nav-wrapper wrapper-col">
          <div class="nav-position">
            <ul class="footer-list">
              <li class="footer-social-title">Connect with us</li>
              {% for item in site.data.footer_links.footer_nav_social %}
                <li class="footer-social">
                  <a href="{{ item.link }}" target="blank" rel="noopener"><i class="{{ item.fa-icon }}"></i></a>
                </li>
              {% endfor %}
              {% for item in site.data.footer_links.footer_nav_mini %}
                <li>
                  <a href="{{ item.link }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-none d-sm-block">
        <div class="footer-nav-wrapper wrapper-col">
          <div class="nav-position">
            <ul class="footer-list">
              {% for item in site.data.footer_links.footer_nav_general %}
                <li>
                  <a href="{{ item.link }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>