<footer>
  <div class="footer-details-wrapper">
    <a href="#" class="footer-logo">
      <img src="/assets/images/ata_logo.jpg" alt="ATA UK">
    </a>
    <h4>Connect with us</h4>
    <ul class="social-links">
      <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
      <li><a href=""><i class="fab fa-youtube"></i></a></li>
      <li><a href=""><i class="fab fa-twitter"></i></a></li>
    </ul>
    <a href="tel:+441322404806" class="telephone">01322 404 806</a>
    <a href="mailto:info@ata-uk.com">info@ata-uk.com</a>    
  </div>
  <address>
    <strong>Main Office</strong><br>
    116 Hythe Avenue<br>
    Bexleyheath<br>
    Kent<br>
    DA7 5NJ  
  </address>
  <ul class="footer-nav">
    <li>
      <a href="#">Policy &amp; Practice</a>
    </li>
    <li>
      <a href="#">About us</a>
    </li>
    <li>
      <a href="#">History</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="#">Donate</a>
    </li>
  </ul>  
</footer>