<header class="header">
  <nav>
    <ul class="header-nav">
      <li><a href="#" class="get-involved-dropdown">Get Involved</a>
        <ul class="get-involved-navbar">
          <li><a href="#">Donate</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Policy &amp; Practice</a></li>
        </ul>
      </li>
      <li><a href="#" class="about-us-dropdown">About us</a>
        <ul class="about-us-navbar">
          <li><a href="#">History</a></li>
          <li><a href="#">Team</a></li>
        </ul>
      </li>
      <li><a href="#" class="underline">Contact us</a></li>
      <li><a href="#" class="underline">Blog</a></li>
    </ul>
  </nav>
  <a href="#" class="header-logo">
    <img src="/assets/images/ata_logo.jpg" alt="ATA UK">
  </a>
</header>
<script>
  document.addEventListener('DOMContentLoaded', function(e) {
    e.preventDefault();

    document.querySelector('.get-involved-navbar').style.display = 'none';
    document.querySelector('.about-us-navbar').style.display = 'none';

  });
</script>