.card {
  text-align: center;
  .event-image {
    max-width: 16rem;
    background-size: contain;
  }
}

.card-columns {

  @include media-breakpoint-only(xs) {
    column-count: 1;
  }

  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
}