footer {
  background-color: $gunmetal;
  color: #ccc;
  min-height: 50%;
  width: 100%;
  .address-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    @include wrapper(50vh);
    .footer-logo img {
      width: 100px;
      border-radius: 3px;
    }
    address {
      margin-bottom: 0;
    }
    a[href^="tel:"], a[href^="mailto:"] {
      color: #ccc;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .footer-nav-wrapper {
    min-height: 50vh;
    text-align: center;
    .footer-list {
      list-style-type: none;
      li {
        display: block;
        margin-top: 2em;
        padding: 0 0 0 2em;
        text-align: left;
        a {
          color: #ccc;
          text-decoration: none;
        }
      }
      .footer-social-title {
        font-weight: bold;
      }
      .footer-social {
        display: inline-block;
        margin: 2em 0 0 0;
        padding: 0 0 0 2em;
        a {
          text-decoration: none;
          > * {
            color: #ccc;
            &:hover {
              color: darkgray;
            }
          }
        }
      }
    }
  }
  .wrapper-col {
    position: relative;
    .nav-position {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 540px) {
  footer {
    .text-xs-center {
      text-align: center;
      .address-wrapper {
        .footer-logo img {
          width: 75px;
        }
      }
    }
  }
}