footer {
  background-color: $gunmetal;
  color: #ccc;
  height: 50vh;
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
  width: 100vw;
  .address-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    .footer-logo img {
      width: 5vw;
    }
    address {
      margin-bottom: 0;
    }
    a[href^="tel:"], a[href^="mailto:"] {
      color: #ccc;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .footer-nav-wrapper {
    height: 50vh;
    .footer-list {
      list-style-type: none;
      li {
        display: block;
        margin-top: 2em;
        padding: 0 0 0 2em;
        text-align: left;
        a {
          color: #ccc;
          text-decoration: none;
        }
      }
      .footer-social-title {
        font-weight: bold;
      }
      .footer-social {
        display: inline-block;
        margin: 2em 0 0 0;
        padding: 0 0 0 2em;
        a {
          text-decoration: none;
          > * {
            color: #ccc;
            &:hover {
              color: darkgray;
            }
          }
        }
      }
    }
  }
  .wrapper-col {
    position: relative;
    .nav-position {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}