nav {
  margin: 0 auto;
  .navbar-logo {
    width: 10vw;
    border-radius: 3px;
  }
  .navbar-nav {
    margin: 0 auto;
    a.nav-link {
      color: $main-green !important;
      font-size: 20px;
    }
    .dropdown-menu .dropdown-item {
      color: $main-green !important;
    }
  }
}

@media (max-width: 420px) {
  a.nav-link {
    text-align: center;
  }
}