.history {
  margin: 2em 0;
  .tagline {
    color: #fff;
    margin-bottom: 1em;
    span {
      background: $sea-blue;
      padding: 0.5rem;
    }
  }
}

.timeline {
  .beginnings-figure {
    @include flex-center;
    flex-direction: column;
    .beginnings {
      @include img-responsive(75%);
      margin-bottom: 1em;
    }
  }
  .timeline-wrapper-one,
  .timeline-wrapper-two {
    @include flex-center;
    margin: 2em 0;
  }
  .award-pic {
    @include img-responsive(100%);
    @include margin-bottom;
  }
}

@media screen and (max-width: 576px) {
  .timeline-wrapper-one,
  .timeline-wrapper-two {
    flex-direction: column;
  }
  .interview {
    @include img-responsive(90vw);
  }
  .award-pic {
    width: 100vw;;
  }
}