.history {
  margin: 2em 0;
  .tagline {
    color: #fff;
    margin-bottom: 1em;
    span {
      background: $sea-blue;
      padding: 0.5rem;
    }
  }
}

.timeline {
  .beginnings-figure {
    @include flex-center;
    flex-direction: column;
    .beginnings {
      margin-bottom: 1em;
    }
  }
}

@media screen and (max-width: 576px) {
  .award-pic {
    @include margin-bottom;
  }
}
