.full-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  overflow-y: hidden;
}

.hero-home {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/images/mosque.jpg');
  .tagline {
    text-align: center;
    color: whitesmoke;
    font-family: 'Helvetica Neue', Helvetica, Open-Sans, sans-serif;
  }
}

.statement-wrapper {
  margin: 2em 0;
  min-height: 500px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .inspiration {
    width: 350px;
  }
}

@media (max-width: 540px) {
  .hero-home {
    .tagline {
      font-size: 16px;
    }
  }
}