.full-hero {
  @include flex-center;
  height: 100vh;
  width: auto;
  overflow: hidden;
}

.hero-home {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/images/mosque.jpg');
  .tagline {
    text-align: center;
    color: whitesmoke;
  }
}


.mission {
  .mission-wrapper {
    margin: 2em 0;
    text-align: center;
    @include wrapper(500px);
    @include flex-column(space-around, center);
    .inspiration {
      width: 350px;
      @include margin-bottom;
    }
  }
}

.objectives {
  background-color: $cosmic-cobalt;
  color: #fff;
  position: relative;
  @include margin-bottom;
  &::before {
    @include diagonal(top left, -3deg);
  }
  &::after {
    @include diagonal(bottom left, 3deg);
  }
  .objective-wrapper {
    text-align: center;
    margin: 2em 0;
    @include wrapper(30vh);
    @include flex-column(space-between, center);
    .objective {
      max-height: 100px;
    }
  }
}

.statements {
  background-color: $persian-green;
  color: #fff;
  position: relative;
  padding-bottom: 3em;
  &::before {
    @include diagonal(top left, -3deg);
  }
  .statements-wrapper {
    @include wrapper(50vh);
    .pdf {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 540px) {
  .full-hero {
    height: 100vh;
  }
  .hero-home {
    .tagline {
      font-size: 20px;
    }
  }
}