.full-hero {
  @include flex-center;
  height: 100vh;
  width: auto;
  overflow-y: hidden;
}

.hero-home {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/images/mosque.jpg');
  .tagline {
    text-align: center;
    color: whitesmoke;
  }
}

.statement-wrapper {
  margin: 2em 0;
  min-height: 500px;
  width: 100%;
  text-align: center;
  @include flex-column(space-around, center);
  .inspiration {
    width: 350px;
    @include margin-bottom;
  }
}


.objectives {
  background-color: $cosmic-cobalt;
  color: #fff;
  position: relative;
  @include margin-bottom;
  &::before {
    @include diagonal(top left, -3deg);
  }
  &::after {
    @include diagonal(bottom left, 3deg);
  }
  .objective-wrapper {
    min-height: 30vh;
    width: 100%;
    @include flex-column(space-between, center);
    text-align: center;
    margin: 2em 0;
    .objective {
      max-height: 100px;
    }
  }
}

@media (max-width: 540px) {
  .hero-home {
    .tagline {
      font-size: 16px;
    }
  }
}